{
  "env": {
    "development": {
      "presets": [["env", {"targets": {"browsers": ["last 2 versions"]}, "modules": false}], "react", "stage-0"],
      "plugins": [
        "transform-decorators-legacy",
        [ "babel-plugin-root-import", [{
          "rootPathPrefix": "~",
          "rootPathSuffix": "src/js/"
        }]],
        "import-glob",
      ]
    },
      "production": {
        "presets": [["env", {"targets": {"browsers": ["last 2 versions"]}, "modules": false}], "react", "stage-0"],
        "plugins": [
          "transform-decorators-legacy",
          [ "babel-plugin-root-import", [{
            "rootPathPrefix": "~",
            "rootPathSuffix": "src/js/"
          }]],
          "import-glob",
        ]
      },
      "test": {
        "presets": [["env", {"targets": {"browsers": ["last 2 versions"]}, "modules": "commonjs"}], "react", "stage-0"],
        "plugins": [
          "transform-decorators-legacy",
          [ "babel-plugin-root-import", [{
            "rootPathPrefix": "~",
            "rootPathSuffix": "src/js/"
          }]],
          "import-glob",
        ]
      }
  }
}


