{
  "extends": [
    "airbnb",
  ],
  "parser": "babel-eslint",
  "plugins": [
  ],
  "globals": {
    "document": true,
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 1,
    "import/extensions": [2, {"js": "never"}],
    "import/no-unresolved": 0,
    "jsx-a11y/href-no-hash": 0,
  },
}


